.about-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    .established:hover {
        stroke-width: 2px;
        color: pink;
        -webkit-text-stroke-color: black; 
    }
    p {
        margin: 50px;
        color: white;
    }
}