* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    margin: 0;
    padding: 0;
    background-color: white;
}

// section {
//     padding: 40px 0;
// }

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

h1, h2, h3, h4 {
    font-family: Neon;
    font-size: 30px;
}

p, li, button, label, a {
    font-family: 'Maitree', serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 40px;
    text-shadow: 2px 2px 5px white;
}

main {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: Neon;
    src: url(NeonSans.otf);
}