.contact-container {
    display: flex;
    background-image: url(/assets/stacked-steps-haikei.png);
    background-attachment: fixed;
    background-size: cover;
    justify-content: space-around;
    align-self: center;
    margin: 0;
        .socials {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 5px 10px #000000;
            border: 1px solid black;
            background-color: pink;
            margin: 50px;
        }
   

        .message {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 5px 10px #000000;
            border: 1px solid black;
            background-color: pink;
            margin: 50px;
            padding: 50px 20px;
            
            h2 {
                text-align: center;
            }
            p {
                text-align: center;
            }

            form {
                display: flex;
                flex-direction: column;
                width: 90%;
                .info {
                    display: flex;
                    justify-content: space-between;
                    input {
                        width: 48%;
                        font-family: 'Maitree', serif;
                    }
                }
                .message-box {
                display: flex;
                flex-direction: column;
                label {
                    padding: 0 10px;
                    margin-top: 20px;
                    color: white;

                }
                textarea {
                    display: flex;
                    align-self: center;
                    margin-bottom: 20px;
                    width: 100%;
                    height: 200px;
                    padding: 0px 0px;
                } 
                button {
                    width: 100%;
                    display: flex;
                    align-self: center;
                    text-align: center;
                }
            }
            }

            


        }
    
}