.copyright {
    background-color: rgb(233, 233, 233);
    padding: 10px 0;
    border-top: 1px solid white;
    p {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-style: italic;
        font-size: 15px;
        color: black;
    }
}