.copyright {
    background-color: rgb(233, 233, 233);
    padding: 10px 0;
    border-top: 1px solid white;
    p {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-style: italic;
        font-size: 17px;
        font-family: Bold;
        color: black;
        text-transform: uppercase;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 1px;
        text-align: center;
    }
}