.gallery-container {
    display: flex;
    flex-direction: column;
    background: url(/assets/brickwall.jpg) repeat center;
    background-size: cover;
    .gallery-title {
        display: flex;
        justify-content: center;
        margin: 70px 0;
        color: black;
        h2 {
            font-size: 38px;
        }
    }
    .gallery-title:hover {
        stroke-width: 2px;
        color: pink;
        -webkit-text-stroke-color: black; 
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0;
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                display: flex;
                justify-content: center;
                width: 33%;
                margin-bottom: 50px;
                
                img {
                    width: 80%;
                    box-shadow: 5px 8px 10px white;
                }
                img:hover {
                    opacity: 90%;
                }
            }
        }
    }
    .gallery-links {
        display: flex;
        justify-content: space-around;
        margin: 70px 0;
        a {
            text-decoration: none;
            padding: 5px 15px;
            background-color: white;
            color: black;    
            border: 1px solid pink;  
            position: relative; 
            text-shadow: none;            
            }
        a:hover {
            background-color: #d87093;
            color: pink;
            text-transform: uppercase;
            }
        }
    
}