body {

    .hamburger {
        position: fixed;
        right: -500px;
        width: 350px;
        height: 100%;
        background-color: black;
        transition: .5s;
        ul li a {
            color: white;
            text-align: right;
            text-transform: uppercase;
            list-style-type: none;
            list-style: none;
            font-size: 1.5rem;
            border-bottom: 2px solid #252525;
        }
        .ham {
            display: block;
            top: 4%;
            left: 110%;
            position: fixed;
            width: 31px;
            height: 86px;
            transform: translateX(-650%);
            border: 0;
            background: 0 0; 
            .bar {
                position: fixed;
                background: white;
                height: 4px;
                width: 100%;
                transition: all .3s ease-in;
                
            }
            #bar1 {
                top: 3px;
                border: 1px solid black;
            }

            #bar2 {
                top: 11px;
                border: 1px solid black;
            }
            #bar3 {
                top: 19px;
                border: 1px solid black;
            }


        }
        .hamburger-nav {
            position: absolute;
            top: 100px;
            right: 50px;
            width: 250px;
        }
    }

    .hamburger.active {
        right: 0;
        z-index: 100;
    }
    .ham.open #bar1{
       background-color: white;
       transform: rotate(45deg) translate(6px, 5px);
       border: none;
    }
    .ham.open #bar2{
        background-color: transparent;
        border: none;
    }
    .ham.open #bar3{
        background-color: white;
        transform: rotate(-45deg) translate(6px, -5px);
        border: none;
    }
    .navigation {
        background-color: white;
        border-bottom: .5px solid pink;
        padding: 20px 0;
        ul {
            display: flex;
            justify-content: space-around;
            
            li {
                a {
                    text-decoration: none;
                    color: pink;
                    font-family: Bold;
                    
                }
                a:hover {
                    color: #d87093;
                    font-weight: bold;
                    
                }
            }
        }
    }
        header {
            height: 98vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: url(/assets/brickwall.jpg);
            background-size: cover;
            background-attachment: fixed;
        .container {
            display: flex;
            flex-direction: column;

            .title {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: pink;
                z-index: 1;
                h1 {
                    margin: 0;
                    text-align: center;
                    color: white;
                    font-family: Neon;
                    text-shadow: 2px 2px 5px white;
                    font-size: 35px;
                }

                img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                h2 {
                    font-family: Titles;
                    font-size: 198px;
                    color: white;
                    font-weight: lighter;
                }
                h3 {
                    margin: 0;
                    color: white;
                }
                a {
                    text-decoration: none;
                    padding: 5px 15px;
                    background-color: white;
                    color: black;    
                    border: 1px solid #d87093;  
                              
                }
                a:hover {
                    background-color: #d87093;
                    color: pink;
                    text-transform: uppercase;
                    text-shadow: none;
                }
            }

            .outer {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;

                background: rgba(0,0,0,0.5);
                z-index: 0;
            }
        } 
    }   
}


