.location-container {
    display: flex;
    justify-content: space-around;
    .hours {
        order: 2;
        text-align: center;
        width: 50%;
        border: 1px solid black;
        background-image: url(/assets/blurry-gradient-haikei6.png);
        background-size: cover;
        padding: 20px;
        h2 {
            margin: 10px 0;
            color: black;
            text-shadow: 2px 2px 5px white;
        }
        p {
            margin: 20px 0;
            color: black;
            font-family: Bold;
            text-transform: uppercase;
            font-size: 20px;
            -webkit-text-stroke-color: white;
            -webkit-text-stroke-width: 1px;
        }
    }
    .map {
        order: 1;
        width: 50%;
        iframe {
            width: 100%;
            height: 100%;
            border: 1px solid black;
        }
    }
}