* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  margin: 0;
  padding: 0;
  background-color: white;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

h1, h2, h3, h4 {
  font-family: Neon;
  font-size: 30px;
}

p, li, button, label, a {
  font-family: "Maitree", serif;
  font-size: 20px;
  font-weight: bolder;
  line-height: 40px;
  text-shadow: 2px 2px 5px white;
}

@font-face {
  font-family: Neon;
  src: url(NeonSans.otf);
}
.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(/assets/blurry-gradient-haikei7.png);
  background-size: cover;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
}
.contact-container .socials {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 10px #000000;
          box-shadow: 5px 10px #000000;
  border: 1px solid black;
  background-color: rgb(233, 233, 233);
  margin: 50px;
}
.contact-container .message {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 5px 10px #000000;
          box-shadow: 5px 10px #000000;
  border: 1px solid black;
  background-color: rgb(233, 233, 233);
  margin: 50px;
  padding: 50px 20px;
}
.contact-container .message h2 {
  text-align: center;
}
.contact-container .message p {
  text-align: center;
}
.contact-container .message form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}
.contact-container .message form .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-container .message form .info input {
  width: 48%;
  font-family: "Maitree", serif;
}
.contact-container .message form .message-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-container .message form .message-box label {
  padding: 0 10px;
  margin-top: 20px;
  color: black;
}
.contact-container .message form .message-box textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
  padding: 0px 0px;
  font-family: "Maitree", serif;
}
.contact-container .message form .message-box button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

.copyright {
  background-color: rgb(233, 233, 233);
  padding: 10px 0;
  border-top: 1px solid white;
}
.copyright p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-style: italic;
  font-size: 17px;
  color: black;
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(/assets/brickwall.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.gallery-container .gallery-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 0;
  color: black;
}
.gallery-container .gallery-title h2 {
  font-size: 38px;
}
.gallery-container .gallery-title:hover {
  stroke-width: 2px;
  color: pink;
  -webkit-text-stroke-color: black;
}
.gallery-container .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0;
}
.gallery-container .gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery-container .gallery ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
  margin-bottom: 50px;
}
.gallery-container .gallery ul li img {
  width: 80%;
  -webkit-box-shadow: 5px 8px 10px white;
          box-shadow: 5px 8px 10px white;
}
.gallery-container .gallery ul li img:hover {
  opacity: 90%;
}
.gallery-container .gallery-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 70px 0;
}
.gallery-container .gallery-links a {
  text-decoration: none;
  padding: 5px 15px;
  background-color: white;
  color: black;
  border: 1px solid pink;
  position: relative;
  text-shadow: none;
}
.gallery-container .gallery-links a:hover {
  background-color: #d87093;
  color: pink;
  text-transform: uppercase;
}

body .hamburger {
  position: fixed;
  right: -500px;
  width: 350px;
  height: 100%;
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body .hamburger ul li a {
  color: white;
  text-align: right;
  text-transform: uppercase;
  list-style-type: none;
  list-style: none;
  font-size: 1.5rem;
  border-bottom: 2px solid #252525;
}
body .hamburger .ham {
  display: block;
  top: 4%;
  left: 110%;
  position: fixed;
  width: 31px;
  height: 86px;
  -webkit-transform: translateX(-650%);
          transform: translateX(-650%);
  border: 0;
  background: 0 0;
}
body .hamburger .ham .bar {
  position: fixed;
  background: white;
  height: 4px;
  width: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .hamburger .ham #bar1 {
  top: 3px;
  border: 1px solid black;
}
body .hamburger .ham #bar2 {
  top: 11px;
  border: 1px solid black;
}
body .hamburger .ham #bar3 {
  top: 19px;
  border: 1px solid black;
}
body .hamburger .hamburger-nav {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 250px;
}
body .hamburger.active {
  right: 0;
}
body .ham.open #bar1 {
  background-color: white;
  -webkit-transform: rotate(45deg) translate(6px, 5px);
          transform: rotate(45deg) translate(6px, 5px);
  border: none;
}
body .ham.open #bar2 {
  background-color: transparent;
  border: none;
}
body .ham.open #bar3 {
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(6px, -5px);
          transform: rotate(-45deg) translate(6px, -5px);
  border: none;
}
body .navigation {
  background-color: white;
  border-bottom: 0.5px solid pink;
  padding: 20px 0;
}
body .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body .navigation ul li a {
  text-decoration: none;
  color: pink;
  font-family: Bold;
}
body .navigation ul li a:hover {
  color: #d87093;
  font-weight: bold;
}
body header {
  height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/assets/brickwall.jpg);
  background-size: cover;
  background-attachment: fixed;
}
body header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body header .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: pink;
  z-index: 1;
}
body header .container .title h1 {
  margin: 0;
  text-align: center;
  color: white;
  font-family: Neon;
  text-shadow: 2px 2px 5px white;
  font-size: 35px;
}
body header .container .title img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .container .title h2 {
  font-family: Titles;
  font-size: 198px;
  color: white;
  font-weight: lighter;
}
body header .container .title h3 {
  margin: 0;
  color: white;
}
body header .container .title a {
  text-decoration: none;
  padding: 5px 15px;
  background-color: white;
  color: black;
  border: 1px solid #d87093;
}
body header .container .title a:hover {
  background-color: #d87093;
  color: pink;
  text-transform: uppercase;
  text-shadow: none;
}
body header .container .outer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.location-container .hours {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
  width: 50%;
  border: 1px solid black;
  background-image: url(/assets/blurry-gradient-haikei6.png);
  padding: 20px;
}
.location-container .hours h2 {
  margin: 10px 0;
  color: black;
  text-shadow: 2px 2px 5px white;
}
.location-container .hours p {
  margin: 20px 0;
  color: black;
  font-family: Bold;
  text-transform: uppercase;
  font-size: 20px;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}
.location-container .map {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 50%;
}
.location-container .map iframe {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

#services .service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#services .service-container .service-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  background-image: url(/assets/blurry-gradient-haikei5.png);
  background-size: cover;
  border-right: none;
  padding: 30px 0;
  color: black;
}
#services .service-container .service-text .service-title:hover {
  stroke-width: 2px;
  color: #d87093;
  -webkit-text-stroke-color: black;
}
#services .service-container .service-text p {
  color: black;
  text-align: center;
  margin: 0 60px;
  font-family: Bold;
  text-transform: uppercase;
  font-size: 20px;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}
#services .service-container .service-text a {
  text-decoration: none;
  padding: 5px 15px;
  background-color: white;
  color: black;
  border: 1px solid pink;
  position: relative;
}
#services .service-container .service-text a:hover {
  background-color: #d87093;
  text-transform: uppercase;
  color: pink;
  text-shadow: none;
}
#services .service-container .service-image {
  width: 50%;
}
#services .service-container .service-image img {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid black;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-image: url(/assets/brickwall.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.about-container h2 {
  margin: 70px 0 40px 0;
  color: black;
  font-size: 38px;
}
.about-container .established:hover {
  stroke-width: 2px;
  color: pink;
  -webkit-text-stroke-color: black;
}
.about-container p {
  margin: 50px;
  color: white;
  margin-bottom: 0 0 0 70px;
  font-family: Bold;
  text-transform: uppercase;
  font-size: 20px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  margin-top: 0;
}
.about-container .about-me h3 {
  color: white;
  text-shadow: 2px 2px 5px white;
}